@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Black.eot');
    src: local('SF UI Display Black'), local('SFUIDisplay-Black'),
        url('SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Black.woff2') format('woff2'),
        url('SFUIDisplay-Black.woff') format('woff'),
        url('SFUIDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Bold.eot');
    src: local('SF UI Display Bold'), local('SFUIDisplay-Bold'),
        url('SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Bold.woff2') format('woff2'),
        url('SFUIDisplay-Bold.woff') format('woff'),
        url('SFUIDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Light.eot');
    src: local('SF UI Display Light'), local('SFUIDisplay-Light'),
        url('SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Light.woff2') format('woff2'),
        url('SFUIDisplay-Light.woff') format('woff'),
        url('SFUIDisplay-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Regular.eot');
    src: local('SF UI Display Regular'), local('SFUIDisplay-Regular'),
        url('SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('SFUIDisplay-Regular.woff2') format('woff2'),
        url('SFUIDisplay-Regular.woff') format('woff'),
        url('SFUIDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    font-family: 'SF UI Display', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.bou {
    color: #FF7A00;
    font-weight: bold;
    text-transform: uppercase;
}

/*page
=================*/

.page {

    /* width: 100%;
    height: 100vh;
    min-height: 770px;
    background: url(../img/bgHeader.png) center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden; */

}

/*Header
===============*/

.header {
    width: 100%;
    /* height: 110vh; */
    min-height: 770px;
    background: url(../img/bgHeader.png)
        /* center */
        no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding-bottom: 6rem;

}

.container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 2rem;

}

.header-inner {
    display: flex;
}



.header__contacts {
    padding: 35px 0 20px 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.header__contacts__city {
    font-weight: normal;
    font-size: 1.8rem;
    cursor: default;
}

.header__contacts__tel {
    font-weight: 900;
    font-size: 2.2rem;
    text-decoration: none;
    color: #fff;
}

.header__contacts__tel:hover {
    color: rgba(255, 122, 0, 0.65);
}

.header__contacts__tel:active {
    color: rgba(255, 122, 0, 0.55);
}

.header__contacts__soc {
    padding: 10px 0;

}

.icon-fb {
    margin-right: 30px;
}

.icon-fb,
.icon-inst {
    color: #fff;
    font-weight: 900;
    font-size: 2.8rem;
}

.icon-fb:hover,
.icon-inst:hover {
    color: rgba(255, 122, 0, 0.65);
}

.icon-fb:active,
.icon-inst:active {
    color: rgba(255, 122, 0, 0.55);
}

.header__content {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}



.header__text__main {
    width: 600px;
    font-weight: 900;
    font-size: 7.8rem;
    line-height: 9.3rem;
    text-transform: uppercase;


}

.header__text__sub {
    width: 350px;
    font-size: 4rem;
    line-height: 4.8rem;
    text-transform: uppercase;
    font-weight: normal;

}

.header__nav {
    text-align: end;
    display: flex;
    flex-direction: column;


}

.header__nav__link {
    font-size: 1.8rem;
    padding: 16px 700px 16px 65px;
    margin-right: -700px;
    text-decoration: none;
    color: #fff;

}

.header__nav__link:hover {
    background-color: rgba(255, 122, 0, 0.65);
}

.header__nav__link:active {
    background-color: rgba(255, 122, 0, 0.55);
}

.header__form-offer {
    margin-top: 85px;
}

.header__form-offer__text {
    width: 850px;
    /* font-family: 'Source Sans Pro'; */
    font-size: 2.2rem;
    line-height: 2.8rem;
    font-weight: normal;
}

.header__form-offer__items {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.header__form-inner,
.btn.offer {
    width: 32%;
    padding: 15px;
}

.header__form-inner {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: #fff;
    font-size: 1.8rem;
}

.header__form-inner::placeholder {
    color: #fff;
    /* font-size: 1.8rem; */

}

.btn {
    color: #fff;
    background-color: #FF7A00;
    border-radius: 50px;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;

}

.btn:active {
    background-color: rgba(255, 122, 0, 0.8);
}


.header__offer-info {
    display: flex;
    justify-content: space-between;
}

.header__offer-info_card {
    align-items: center;
    display: flex;
    padding: 20px;
    border-radius: 50px;
    margin-top: 55px;
    width: 32%;
    background-color: rgba(0, 0, 0, .4);
}

.header__offer-info_card_text {
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding: 0px 50px 0px 30px;
}

.main {

    background-color: #000;

}

/* slider */
.auto_from_usa {
    padding-bottom: 6rem;
}

.slider-title {
    margin-top: 80px;
    width: 900px;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 5rem;
    text-transform: uppercase;
}

.swiper-pagination {
    top: 432px;
    margin-left: 200px;
}


.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 0 15px;
    background-color: #222222;
    opacity: 1;
}

.swiper-pagination-bullet:hover {
    background-color: #fff;
}

.swiper-pagination-bullet-active {
    background-color: #F87D0D;
}

.swiper-pagination-bullet-active:hover {
    background-color: #F87D0D;
}


.photocontainer1 {
    padding: 145px 0 0 20px;
    width: 100%;
    height: 227px;
    background-image: url(../img/car1.png);
    background-repeat: no-repeat;
    background-position: -10px 0;
}

.photocontainer2 {
    padding: 145px 0 0 20px;
    width: 100%;
    height: 227px;
    background-image: url(../img/car2.png);
    background-repeat: no-repeat;
    background-size: cover;


}

.swiper-container {
    position: relative;
    width: 770px;

    height: 455px;
    margin-top: 20px;

    padding-bottom: 45px;

}

.card {
    min-width: 360px;
    padding: 0px;
    background-color: rgba(255, 255, 255, .05);
    min-height: 300px;

}


.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30x 30px;
    outline: none;
    border: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev {
    top: 455px;
    left: 525px;
    background-image: url("../img/caret-left-solid.svg");
}

.swiper-button-next {
    top: 455px;
    left: 615px;
    background-image: url("../img/caret-right-solid.svg");
}

.swiper-button-prev:hover {
    background-image: url('../img/caret-left-solidhover.svg');
}

.swiper-button-next:hover {
    background-image: url('../img/caret-right-solidhover.svg');
}

.slider-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.slider-buttons {
    display: flex;
    align-items: center;
}

.main-container {
    display: flex;
    margin-top: 70px;
}



.card-title {
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 3.3rem;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.card-subtitle {
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.6rem;

    color: #FF7A00;
}

.autho-price1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px;
    color: #fff;
}

.autho-price2 {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0;
    color: #fff;
}

.key {
    font-weight: 300;
    font-size: 1.8rem;
}

.key-price {
    font-weight: bold;
    font-size: 1.8rem;

    color: #FF7A00;
}

.ukr-price {
    font-weight: bold;
    font-size: 1.8rem;
    color: #575757;
}

.card-btn {
    display: inline-block;
    padding: 13px 100px;
    text-decoration: none;
    margin: 27px 20px;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.prices-card {
    margin-left: 20px;
    background: url(/img/bgGroup17.png);
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 390px;
    height: 460px;
    min-height: 460px;
    padding: 30px;
}

.offers-card {
    display: flex;
    justify-content: space-between;
}

.prices-card-title {
    font-weight: bold;
    font-size: 2.8rem;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.prices-card-offers {
    display: flex;
    flex-direction: column;
}

.prices-card-prices p {
    text-align: right;
}

.prices-card-prices p,
.prices-card-offers p {
    font-style: normal;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.9rem;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.prices-card-prices {
    display: flex;
    flex-direction: column;
}



.prices-card-economy {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.economy {
    font-weight: 300;
    font-size: 2.2rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.economy-price {

    font-weight: bold;
    font-size: 2.2rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.offers-card-btn {
    margin-top: 18px;
    display: inline-block;
    padding: 13px 95px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #fff;
}

/* window 4 ВЫ МОЖЕТЕ ВЫБРАТЬ НАИБОЛЕЕ УДОБНЫЙ СПОСОБ СОТРУДНИЧЕСТВА */
.convenient-way__container {
    padding-bottom: 6rem;
}

.convenient-way__container__title {
    width: 1100px;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 5rem;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 60px;
}

.convenient-way__container__cards {
    display: flex;
    justify-content: space-between
}

.convenient-way__container__card {
    width: 32%;
    /* margin: 0 30px 0 0; */
    padding: 240px 10px 20px 20px;
    background: url(../img/bg__convenient__card1.png) 0% -10% no-repeat;
    background-size: contain;
}

.convenient-way__container__card:nth-child(2) {
    background: url(../img/bg__convenient__card2.png) 0% -10% no-repeat;
}

.convenient-way__container__card:last-child {
    /* margin-right: 0; */
    background: url(../img/bg__convenient__card3.png) 0% -10% no-repeat;
}

.convenient-way__container__card__title {
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 40px;
}

.convenient-way__container__card__text {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FFFFFF;
    margin-bottom: 40px;
}

.convenient-way__container__card__btn {
    padding: 13px 50px;
}

.comp-service__container_title {
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 50px;
}

.comp-service__container__cards {
    display: flex;
    justify-content: space-between
}

.comp-service__container__card {
    width: 49%;
    padding: 220px 10px 20px 20px;
    background: url(../img/Bg_comp-service_card1.png) 0% 0% no-repeat;
    background-size: contain;
}

.comp-service__container__card:last-child {
    background: url(../img/Bg_comp-service_card2.png) 0% 0% no-repeat;
}

.comp-service__container__card__title {
    width: 70%;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 3.3rem;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 40px;
}

.comp-service__container__card__text {
    width: 100%;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FFFFFF;
    margin-bottom: 40px;
}

.comp-service__container__card__btn {
    padding: 13px 50px;
}

/* window 5 MACHINE BRANDS */
.machine-brands {
    width: 100%;
    background: linear-gradient(to bottom, #131313, #000);
}

.machine-brands__title {
    margin-top: 30px;
    width: 70%;
    font-style: normal;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 5rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.machine-brands__items {
    margin-top: 50px;
    margin-bottom: -40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.machine-brands__item {
    width: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.2rem;
    color: #FFFFFF;
}

.machine-brands__item:hover {
    color: #FF7A00;
}

/* <!-- machine-brands__form --> */
.machine-brands__form__container {
    padding-bottom: 70px;
    margin-top: 120px;
    position: relative;
}

.machine-brands__form_img1 {
    position: absolute;
    bottom: -10px;
    right: -320px;
    z-index: 2;
}

.machine-brands__form_img2 {
    position: absolute;
    bottom: 0;
    right: 120px;
    z-index: 3;
}

.machine-brands__form__title {

    margin-bottom: 80px;
    width: 90%;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 5rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.machine-brands__form__text {
    width: 56%;
    margin-top: 30px;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #FFFFFF;
}

.machine-brands__form__subtitle {
    width: 45%;
    margin-top: 80px;
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2.8rem;

    color: #FFFFFF;
}

.machine-brands__form__items {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.machine-brands__form-inner,
.machine-brands__form-inner_btn {
    width: 32%;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 1.8rem;
}

.machine-brands__form-inner_btn {
    border: none;
}

.machine-brands__form-inner {
    background: rgba(247, 247, 247, 0.06);
    border: 2px solid rgba(255, 255, 255, 0.4);

    box-shadow: 0px 20px 12px rgba(0, 0, 0, 0.02);
    border-radius: 2px;
}

.machine-brands__form-inner::placeholder {
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;
}

/* <!-- window 6 --> */
.why-detroit {
    width: 100%;
    background: linear-gradient(to bottom, #131313, #000);
    padding: 4rem 0 6rem;
}

.why-detroit__title {
    width: 90%;
    font-weight: bold;
    font-size: 4.2rem;
    line-height: 5rem;
    text-transform: uppercase;

    color: #FFFFFF;
}

.why-detroit__container {
    display: flex;
    justify-content: space-between;
}

.why-detroit__container_offer {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 55px;
    margin-top: 40px;
    width: 48%;
    background: #1B1B1B;
}

.why-detroit__container_offer_text {
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding: 0 10px 0 25px;
}